{% extends "base.html" %}
{% block content %}
<div class="container py-3">
  {% if borrowedbooks %}
<h1>Borrowed Book List:</h1><br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Book Name</th>
      <th scope="col">Book Price</th>
      <th scope="col">Balance After Borrowed Book</th>
      <th scope="col">Borrowing Date</th>
      <th scope="col">Return Book</th>
    </tr>
  </thead>
  <tbody>
    {% for borrowedbook in borrowedbooks %}
      <tr>
        <td>{{borrowedbook.id}}</td>
        <td>{{borrowedbook.title}}</td>
        <td>{{borrowedbook.price}}</td>
        <td>{{borrowedbook.balance_after_borrowed}}</td>
        <td>{{borrowedbook.borrowed_date}}</td>
        <td><button class="btn btn-danger text-color-white"><a href="{% url 'return_book' borrowedbook.id %}" class="text-decoration-none text-white">Pay</a></button></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<h1>You do not have borrowed yet</h1>
{% endif %}
</div>

{% endblock content %}